body {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/16584/retina_wood.png");
}

.container {
    margin-top: 20px;
    width: 100%;
}

div{
    display: block;
}

div>a, span {
    color: rgb(104, 102, 102);
}

#head-right{
    margin-top: 50px;
}

#logo {
    margin-top: -10px;
}

.grid {
    margin-top: 60px;
}


body {
  font-family: sans-serif;
}

/* ---- input ---- */

input[type="text"] {
  font-size: 20px;
}



/* ---- grid ---- */

/* .grid {
  border: 1px solid #333;
} */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

div.book {
  position: relative;
  float: left;
  width: 220px;
  height: 330px;
  margin: 12px;
  padding: 5px;
  /* background: #888; */
  color: #262524;

}

.row {
    /* width: 100% !important; */
    margin-left: 10px !important;
    margin-right: 5px !important;
}

/*--- flipping cards---*/

.flip-container {
    position: relative;
    perspective:1000px;
 }


#card {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.flip-container:hover #card{
    transform: rotateY(180deg);
    
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.face.back {
    
    transform: rotateY(180deg);
    padding: 10px;
    background-color: #aaa;
}


.back {
    background: #aaa;
    color: #f5f3f0;
    box-shadow: 8px 5px 5px rgb(148, 136, 136);

}

div>p {
    text-align: left;
    font-size: 1rem;
    line-height: 1;
}
